backend/n8n/workflows/01_university_refresh_nightly.json
{
  "name": "StudyAbroad - Universities Refresh (Nightly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule_nightly",
      "name": "Nightly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/automation/universities/refresh'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "={{$env.N8N_AUTOMATION_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 1200000
        }
      },
      "id": "call_backend_university_refresh",
      "name": "Call Backend Universities Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check_http_status",
      "name": "Status 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { workflow: 'universities_refresh', ok: true, at: new Date().toISOString(), backendResponse: $json.body } }];"
      },
      "id": "success_payload",
      "name": "Success Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { workflow: 'universities_refresh', ok: false, at: new Date().toISOString(), statusCode: $json.statusCode, backendResponse: $json.body } }];"
      },
      "id": "failure_payload",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        380
      ]
    }
  ],
  "connections": {
    "Nightly Trigger": {
      "main": [
        [
          {
            "node": "Call Backend Universities Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend Universities Refresh": {
      "main": [
        [
          {
            "node": "Status 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 200?": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
