backend/n8n/workflows/02_visa_reingest_weekly.json
{
  "name": "StudyAbroad - Visa Reingest (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule_weekly",
      "name": "Weekly Trigger (Mon)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/automation/visa/reingest'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "={{$env.N8N_AUTOMATION_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 1200000
        }
      },
      "id": "call_backend_visa_reingest",
      "name": "Call Backend Visa Reingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check_http_status",
      "name": "Status 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { workflow: 'visa_reingest', ok: true, at: new Date().toISOString(), backendResponse: $json.body } }];"
      },
      "id": "success_payload",
      "name": "Success Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { workflow: 'visa_reingest', ok: false, at: new Date().toISOString(), statusCode: $json.statusCode, backendResponse: $json.body } }];"
      },
      "id": "failure_payload",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        380
      ]
    }
  ],
  "connections": {
    "Weekly Trigger (Mon)": {
      "main": [
        [
          {
            "node": "Call Backend Visa Reingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend Visa Reingest": {
      "main": [
        [
          {
            "node": "Status 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 200?": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
