backend/n8n/workflows/13_housing_multicountry_sources_and_refresh.json
{
  "name": "StudyAbroad - Housing Sources Monitor + Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 0"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Sunday Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/universities/countries'}}"
      },
      "id": "countries",
      "name": "Fetch Countries From Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const countries = ($json.countries || []).map(c => String(c));\nconst officialHousingSources = {\n 'United States': ['https://housing.mit.edu/','https://housing.stanford.edu/'],\n 'United Kingdom': ['https://www.ox.ac.uk/admissions/graduate/accommodation','https://www.ucl.ac.uk/accommodation/'],\n 'Canada': ['https://www.utoronto.ca/campus-life/housing','https://you.ubc.ca/finances/housing/'],\n 'Australia': ['https://www.sydney.edu.au/study/accommodation.html','https://students.unimelb.edu.au/student-support/accommodation'],\n 'Germany': ['https://www.daad.de/en/study-and-research-in-germany/plan-your-studies/accommodation/'],\n 'France': ['https://www.campusfrance.org/en/student-housing-in-france'],\n 'Netherlands': ['https://www.studyinnl.org/plan-your-stay/accommodation'],\n 'Ireland': ['https://www.ucd.ie/residences/','https://www.tcd.ie/accommodation/'],\n 'New Zealand': ['https://www.auckland.ac.nz/en/study/accommodation.html'],\n 'Singapore': ['https://nus.edu.sg/osa/student-services/hostel-admission'],\n 'Japan': ['https://www.u-tokyo.ac.jp/en/prospective-students/housing.html'],\n 'Sweden': ['https://studyinsweden.se/moving-to-sweden/finding-accommodation/'],\n 'Norway': ['https://www.sio.no/en/housing'],\n 'Denmark': ['https://studyindenmark.dk/live-in-denmark/housing'],\n 'Finland': ['https://www.studyinfinland.fi/life-finland/student-housing'],\n 'UAE': ['https://www.ku.ac.ae/student-life/housing']\n};\nconst out = [];\nfor (const country of countries){\n  const urls = officialHousingSources[country] || [];\n  for (const url of urls){ out.push({json:{country, url, sourceType:'official_housing'}}); }\n}\nreturn out;"
      },
      "id": "build_sources",
      "name": "Build Housing Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 260]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "string"
            }
          },
          "timeout": 120000
        }
      },
      "id": "check_source",
      "name": "Check Source Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const src = $item(0).$node['Split In Batches'].json;\nconst statusCode = Number($json.statusCode || 0);\nconst ok = statusCode >= 200 && statusCode < 500;\nreturn [{json:{country: src.country, url: src.url, sourceType: src.sourceType, statusCode, ok}}];"
      },
      "id": "normalize",
      "name": "Normalize Source Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/automation/housing/refresh'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "={{$env.N8N_AUTOMATION_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 600000
        }
      },
      "id": "refresh_backend",
      "name": "Trigger Backend Housing Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 220]
    }
  ],
  "connections": {
    "Sunday Trigger": {"main": [[{"node": "Fetch Countries From Backend", "type": "main", "index": 0}]]},
    "Fetch Countries From Backend": {"main": [[{"node": "Build Housing Sources", "type": "main", "index": 0}]]},
    "Build Housing Sources": {"main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]},
    "Split In Batches": {"main": [[{"node": "Check Source Availability", "type": "main", "index": 0}],[]]},
    "Check Source Availability": {"main": [[{"node": "Normalize Source Health", "type": "main", "index": 0}]]},
    "Normalize Source Health": {"main": [[{"node": "Split In Batches", "type": "main", "index": 0}], [{"node": "Trigger Backend Housing Refresh", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}
