backend/n8n/workflows/21_visa_payload_direct_ingest.json
{
  "name": "StudyAbroad - Visa Payload Direct Ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_BASE_URL + '/api/v1/universities/countries'}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "get_countries",
      "name": "Get Dataset Countries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json || {};\nconst registrationCountries = [\"USA\", \"UK\", \"Canada\", \"Australia\", \"Germany\", \"France\", \"Netherlands\", \"Ireland\", \"Singapore\", \"Japan\", \"Sweden\", \"Norway\", \"New Zealand\", \"UAE\"];\nconst aliases = {\n  'UK': 'United Kingdom',\n  'USA': 'United States',\n  'US': 'United States',\n  'HongKong': 'Hong Kong'\n};\nconst normalize = (c) => aliases[c] || c;\nconst datasetCountries = registrationCountries.map(normalize);\n\nconst sourceMap = {\n  'United Kingdom': {\n    visa_type: 'UK Student Route Visa',\n    processing_time: '3-8 weeks',\n    visa_fee_inr: 52500,\n    official_sources: [\n      'https://www.gov.uk/student-visa',\n      'https://www.gov.uk/graduate-visa'\n    ],\n    checklist: [\n      { id: 'uk_1', category: 'Admission', item: 'CAS from UK university' },\n      { id: 'uk_2', category: 'Financial', item: 'Proof of funds for tuition and living' },\n      { id: 'uk_3', category: 'Identity', item: 'Valid passport and biometrics appointment' }\n    ]\n  },\n  'United States': {\n    visa_type: 'US F-1 Student Visa',\n    processing_time: '2-8 weeks',\n    visa_fee_inr: 15300,\n    official_sources: [\n      'https://travel.state.gov/content/travel/en/us-visas/study/student-visa.html',\n      'https://www.uscis.gov/working-in-the-united-states/students-and-exchange-visitors'\n    ],\n    checklist: [\n      { id: 'us_1', category: 'Admission', item: 'I-20 from SEVP-approved institution' },\n      { id: 'us_2', category: 'Fees', item: 'SEVIS I-901 fee payment receipt' },\n      { id: 'us_3', category: 'Interview', item: 'DS-160 and visa interview slot confirmation' }\n    ]\n  },\n  'Canada': {\n    visa_type: 'Canada Study Permit',\n    processing_time: '4-12 weeks',\n    visa_fee_inr: 9200,\n    official_sources: [\n      'https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit.html',\n      'https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html'\n    ],\n    checklist: [\n      { id: 'ca_1', category: 'Admission', item: 'Letter of Acceptance from DLI' },\n      { id: 'ca_2', category: 'Financial', item: 'Proof of tuition and living funds' },\n      { id: 'ca_3', category: 'Academic', item: 'Previous transcripts and language results' }\n    ]\n  },\n  'Australia': {\n    visa_type: 'Student Visa Subclass 500',\n    processing_time: '4-10 weeks',\n    visa_fee_inr: 89000,\n    official_sources: [\n      'https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-listing/student-500',\n      'https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-processing-times/global-visa-processing-times'\n    ],\n    checklist: [\n      { id: 'au_1', category: 'Admission', item: 'Confirmation of Enrolment (CoE)' },\n      { id: 'au_2', category: 'Health', item: 'Overseas Student Health Cover (OSHC)' },\n      { id: 'au_3', category: 'Financial', item: 'Genuine Student and funds evidence' }\n    ]\n  },\n  'Germany': {\n    visa_type: 'Germany National Student Visa',\n    processing_time: '6-12 weeks',\n    visa_fee_inr: 7500,\n    official_sources: [\n      'https://www.make-it-in-germany.com/en/visa-residence/types/studying',\n      'https://india.diplo.de/in-en/service/-/2552164'\n    ],\n    checklist: [\n      { id: 'de_1', category: 'Admission', item: 'University admission letter' },\n      { id: 'de_2', category: 'Financial', item: 'Blocked account or scholarship proof' },\n      { id: 'de_3', category: 'Health', item: 'Health insurance as required' }\n    ]\n  },\n  'France': {\n    visa_type: 'France Long-Stay Student Visa (VLS-TS)',\n    processing_time: '3-8 weeks',\n    visa_fee_inr: 9000,\n    official_sources: [\n      'https://www.service-public.fr/particuliers/vosdroits/F2231?lang=en',\n      'https://www.campusfrance.org/en/student-long-stay-visa'\n    ],\n    checklist: [\n      { id: 'fr_1', category: 'Admission', item: 'Campus France process completion' },\n      { id: 'fr_2', category: 'Financial', item: 'Proof of accommodation and funds' },\n      { id: 'fr_3', category: 'Identity', item: 'Passport and biometric appointment' }\n    ]\n  },\n  'Netherlands': {\n    visa_type: 'MVV + Residence Permit for Study',\n    processing_time: '4-8 weeks',\n    visa_fee_inr: 21000,\n    official_sources: [\n      'https://ind.nl/en/residence-permits/study',\n      'https://www.studyinnl.org/plan-your-stay/visas-and-permits'\n    ],\n    checklist: [\n      { id: 'nl_1', category: 'Admission', item: 'University admission and sponsor handling by institution' },\n      { id: 'nl_2', category: 'Financial', item: 'Proof of sufficient means' },\n      { id: 'nl_3', category: 'Identity', item: 'MVV/permit documents as instructed by IND' }\n    ]\n  },\n  'Ireland': {\n    visa_type: 'Ireland Long Stay Study Visa (D)',\n    processing_time: '4-8 weeks',\n    visa_fee_inr: 6000,\n    official_sources: [\n      'https://www.irishimmigration.ie/coming-to-study-in-ireland/',\n      'https://www.irishimmigration.ie/how-to-become-a-citizen/your-visa-application/'\n    ],\n    checklist: [\n      { id: 'ie_1', category: 'Admission', item: 'Letter of acceptance from listed education provider' },\n      { id: 'ie_2', category: 'Financial', item: 'Evidence of tuition payment and maintenance funds' },\n      { id: 'ie_3', category: 'Academic', item: 'Academic and language evidence' }\n    ]\n  },\n  'Spain': {\n    visa_type: 'Spain Student Visa',\n    processing_time: '4-8 weeks',\n    visa_fee_inr: 8000,\n    official_sources: [\n      'https://www.exteriores.gob.es/Embajadas/nuevadelhi/en/ServiciosConsulares/Paginas/Consular/Visado-de-estudios.aspx',\n      'https://www.inclusion.gob.es/web/migraciones/w/students'\n    ],\n    checklist: [\n      { id: 'es_1', category: 'Admission', item: 'Acceptance letter from authorized institution' },\n      { id: 'es_2', category: 'Health', item: 'Medical certificate and health coverage' },\n      { id: 'es_3', category: 'Criminal', item: 'Police clearance when applicable' }\n    ]\n  },\n  'Italy': {\n    visa_type: 'Italy Study Visa (Type D)',\n    processing_time: '4-8 weeks',\n    visa_fee_inr: 7000,\n    official_sources: [\n      'https://vistoperitalia.esteri.it/home/en',\n      'https://studyinitaly.esteri.it/'\n    ],\n    checklist: [\n      { id: 'it_1', category: 'Admission', item: 'University pre-enrolment and admission documents' },\n      { id: 'it_2', category: 'Financial', item: 'Proof of means and accommodation' },\n      { id: 'it_3', category: 'Identity', item: 'Valid passport and visa application pack' }\n    ]\n  },\n  'Switzerland': {\n    visa_type: 'Swiss Student Visa',\n    processing_time: '6-12 weeks',\n    visa_fee_inr: 9000,\n    official_sources: [\n      'https://www.sem.admin.ch/sem/en/home/themen/einreise/faq.html',\n      'https://www.eda.admin.ch/countries/india/en/home/visa/entry-ch/up-90-days/where-to-apply-national.html'\n    ],\n    checklist: [\n      { id: 'ch_1', category: 'Admission', item: 'University confirmation and study plan' },\n      { id: 'ch_2', category: 'Financial', item: 'Proof of sufficient funds for stay' },\n      { id: 'ch_3', category: 'Identity', item: 'National visa documents as per consulate' }\n    ]\n  },\n  'Singapore': {\n    visa_type: 'Student Pass',\n    processing_time: '2-6 weeks',\n    visa_fee_inr: 4000,\n    official_sources: [\n      'https://www.ica.gov.sg/reside/STP/apply',\n      'https://www.ica.gov.sg/reside/STP/collect'\n    ],\n    checklist: [\n      { id: 'sg_1', category: 'Admission', item: 'Accepted by approved institution and SOLAR registration' },\n      { id: 'sg_2', category: 'Identity', item: 'Passport and digital photograph requirements' },\n      { id: 'sg_3', category: 'Health', item: 'Medical requirements if requested' }\n    ]\n  }\n};\n\nconst selectedCountries = datasetCountries.filter((c) => sourceMap[c]);\nconst finalCountries = selectedCountries.length ? selectedCountries : Object.keys(sourceMap);\n\nconst items = [];\nfor (const country of finalCountries) {\n  const cfg = sourceMap[country];\n  for (const [idx, url] of cfg.official_sources.entries()) {\n    items.push({\n      json: {\n        country,\n        source_url: url,\n        source_index: idx + 1,\n        official_link: cfg.official_sources[0],\n        visa_type: cfg.visa_type,\n        processing_time: cfg.processing_time,\n        visa_fee_inr: cfg.visa_fee_inr,\n        checklist: cfg.checklist\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "build_sources",
      "name": "Build Official Visa Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.source_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 240000,
          "ignoreResponseCode": true
        }
      },
      "id": "fetch_pages",
      "name": "Fetch Official Visa Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [960, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nconst grouped = new Map();\n\nfor (const row of rows) {\n  const j = row.json || {};\n  const country = j.country;\n  if (!country) continue;\n\n  if (!grouped.has(country)) {\n    grouped.set(country, {\n      meta: {\n        visa_type: j.visa_type || 'Student Visa',\n        official_link: j.official_link || j.source_url || '',\n        processing_time: j.processing_time || '',\n        visa_fee_inr: Number(j.visa_fee_inr || 0),\n        checklist: Array.isArray(j.checklist) ? j.checklist : []\n      },\n      snippets: []\n    });\n  }\n\n  const raw = (j.body || j.data || '').toString();\n  const text = raw\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 2000);\n\n  const safeText = text || `Official guidance page fetched but parsing returned minimal text. Check source: ${j.source_url || ''}`;\n  grouped.get(country).snippets.push(`Source ${j.source_index || 1}: ${j.source_url}\\n\\n${safeText}`);\n}\n\nconst countries = {};\nconst documents = [];\nfor (const [country, val] of grouped.entries()) {\n  countries[country] = val.meta;\n  documents.push({\n    country,\n    filename: country.toLowerCase().replace(/[^a-z0-9]+/g, '_') + '_student_visa.md',\n    official_link: val.meta.official_link,\n    content: val.snippets.join('\\n\\n---\\n\\n').slice(0, 14000)\n  });\n}\n\nreturn [{ json: { countries, documents } }];"
      },
      "id": "build_payload",
      "name": "Build Visa Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.BACKEND_BASE_URL + '/api/v1/automation/ingest/visa'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "={{$vars.N8N_AUTOMATION_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 1200000
        }
      },
      "id": "post_ingest",
      "name": "POST Visa Ingest Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 240]
    }
  ],
  "connections": {
    "Weekly Trigger": {"main": [[{"node": "Build Official Visa Sources", "type": "main", "index": 0}]]},
    "Build Official Visa Sources": {"main": [[{"node": "Fetch Official Visa Pages", "type": "main", "index": 0}]]},
    "Fetch Official Visa Pages": {"main": [[{"node": "Build Visa Ingest Payload", "type": "main", "index": 0}]]},
    "Build Visa Ingest Payload": {"main": [[{"node": "POST Visa Ingest Payload", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}
